@font-face {
    font-family: Header;
    src: url(Fonts/RobotoCondensed-Bold.ttf);
}

@font-face {
    font-family: News;
    src: url(Fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: RobotoCondensed-Regular;
    src: url(Fonts/RobotoCondensed-Regular.ttf);
}
@font-face {
    font-family: Roboto-Regular-Regular;
    src: url(Fonts/Roboto-Regular-Regular.ttf);
}

body{
    margin: 0;
}
::selection :not(#navbar){
    background-color: #DC0714;
    color: white;
}

#red-top {
    position: absolute;
    background-color: #B71515;
    width: 100%;
    height: 75px;
    top: 0;
    z-index: 49;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0;
    background-color: #DC0714;

    margin: 45px 57px 0px 57px;
    height: 58px;
    z-index: 50;
}

#navbar-left {
    margin: 0;
}

#navbar-right {
    display: flex;
    align-items: center;
    justify-content: right;

    margin: 0px 15px 0px 0px;
    height: 100%;
    padding: 0;
}

#lfcbadge-ul {
    display: flex;
    justify-content: left;
}

#navbar-right>li {
    display: inline-block;
    list-style-type: none;

    font-family: Header;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;

    margin: 0px 20px 0px 0px;
    height: 100%;
    user-select: none;
}

#navbar-right>li>a {
    display: flex;
    align-items: center;

    color: white;
    text-decoration: none;

    transition-duration: 200ms;

    height: 100%;
}

#navbar-right>li>a:hover {
    text-decoration: none;
    color: lightgrey;
}

#navbar-right>li>a:active {
    text-decoration: none;
}

#navbar-right>li>a:visited {
    text-decoration: none;
}

#lfcbadge {
    list-style-type: none;
    margin-top: 2px;
}

#lfc-logo {
    height: 35px;
}

#team-dropdown-content {
    position: absolute;
    pointer-events: none;

    /* opacity: 0; */
    /* transform: translateY(-10px);
    transition: transform 200ms ease-out 100ms, opacity 200ms ease-out 100ms; */

    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    border-radius: 0px 0px 7px 7px;

    margin-left: -30px;
    transform: translateX(-11.3675px);
}

#team-dropdown-content a {
    display: block;
    text-decoration: none;
    text-align: center;
    position: relative;

    background-color: #DC0714;
    color: white;

    color: transparent;
    transition: background-color 2000ms ease 0ms;
    height: 0px;
    padding: 0px 30px 0px 30px;
}

#team-dropdown:hover #team-dropdown-content>a {
    height: 17px;
    padding: 10px 30px 10px 30px;
    color: white;
    color: white;
}

#team-dropdown-content :nth-child(1) {
    transition:
        height 300ms ease 100ms,
        padding 300ms ease 100ms,
        background-color 300ms ease 0ms,
        color 300ms ease 100ms;
}

#team-dropdown-content :nth-child(2) {
    transition:
        height 300ms ease 150ms,
        padding 300ms ease 150ms,
        background-color 300ms ease 0ms,
        color 300ms ease 150ms;
}

#team-dropdown-content :nth-child(3) {
    border-radius: 0px 0px 7px 7px;
    transition:
        height 300ms ease 200ms,
        padding 300ms ease 200ms,
        background-color 300ms ease 0ms,
        color 300ms ease 200ms;
}

#team-dropdown-content a:hover {
    background-color: #c90814;
}

#team-dropdown:hover #team-dropdown-content {
    pointer-events: all;
}
#team-dropdown>a:hover{
    cursor: pointer;
}




#main-content-news {
    margin: 55px 42px 0px 42px;
}

#main-content {
    margin: 55px 57px 0px 57px;
}


/* .news-tag-parent{
    background-color: black;
    margin: 14px 15px 14px 30px;
    padding: 5px 15px 5px 15px;
    width: fit-content;
    border-radius: 20px;
}
.news-tag{
    font-family: Header;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
} */
.news-parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.news {
    cursor: pointer;
    z-index: 3;
    padding: 15px;
}

#news-top-border {
    grid-column-start: 1;
    grid-column-end: 4;

    background-color: lightgray;

    height: 1px;
    margin: 0px 15px 0px 15px;
}

.news-bottom-border {
    background-color: lightgray;

    height: 1px;
    margin-left: 15px;
    margin-right: 15px;
}

#main-content-news .news:hover {
    background-color: rgb(241, 238, 238);
}

#main-content-news .news:hover p {
    pointer-events: none;
    user-select: none;

    transform: translateY(-10px);
}

.news p {
    transition-duration: 500ms;
}

#main-content-news .news {
    vertical-align: top;

    transition-duration: 500ms;
}

.big-left {
    grid-column-start: 1;
    grid-column-end: 3;
}

.big-right {
    grid-column-start: 2;
    grid-column-end: 4;
}

.news-header {
    font-family: News;
    font-weight: 500;
    font-size: 17px;

    margin: 0;
}

.when {
    text-transform: uppercase;

    font-size: 12px;
    font-family: RobotoCondensed-Regular;
    font-weight: 100;

    color: rgb(184, 184, 184);

    margin-top: 25px;
}


.team-navbar{
    margin: 20px calc(57px + 3vw) 20px calc(57px + 3vw);
    text-transform: uppercase;
    font-family: Header;
}
.team-navbar>:last-child{
    height: 1px;
    width: 100%;
    background-color: lightgrey;
}
.team-navbar>:first-child{
    height: 44px;
    display: flex;
    justify-content: space-between;
}
.team-navbar a{
    text-decoration: none;
}
.team-navbar>div>:first-child>ul>li:not(.team-navbar-active)>a{
    color: lightgrey;
    transition-duration: 200ms;
}
.team-navbar>div>:first-child>ul>li:not(.team-navbar-active)>a:hover{
    color: rgb(97, 94, 94);
}
.team-navbar>div>:first-child>ul>li.team-navbar-active>a{
    color: black;
}
.team-navbar>div>:first-child>ul>li.team-navbar-active>div{
    height: 2px;
    width: 100%;
    background-color: #DC0714;
    margin-top: 15px;
}
.team-navbar ul{
    margin: 0 !important;
    padding: 0 !important;
    color: lightgray;
    font-size: 15px;
    height: 39px;
    display: flex;
    align-items: center;
}
.team-navbar>div>:first-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.team-navbar>div>:first-child>ul>li{
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
    margin-top: 15px;
    height: 100%;
}

.table-dropdown{
    position: relative;
    z-index: 48;
    border-color: 1px solid black;
    padding: 10px 15px 10px 15px;
    margin-bottom: 5px;
    background-color: rgb(243, 243, 243);
    transition-duration: 400ms;
}
.table-dropdown>:first-child{
    height: 100%;
    display: flex;
    align-items: center;
}
.table-dropdown>div>i{
    margin-left: 5px;
    font-size: 12px;
    transform: rotate(180deg);
    transition: transform 400ms ease;
}
.table-dropdown :first-child:hover>i{
    transform: rotate(0deg);
}
.table-dropdown:hover .tables-dropdwon-content{
    pointer-events: auto;
}

.tables-dropdwon-content{
    position: absolute;
    color: black;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
    margin-top: 5px;
    transform: translateX(-16px);
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}
.tables-dropdwon-content>a{
    display: flex;
    justify-content: center;
    background-color: rgb(243, 243, 243);
    transition: transform 200ms ease, opacity 200ms ease, background-color 200ms ease 00ms;
    padding: 10px;
    color: black;
    transform: translateY(-20px);
    opacity: 0;
    width: 101.375px;
    box-sizing: border-box;
}
.table-dropdown:hover .tables-dropdwon-content a{
    transform: translateY(0px);
    opacity: 1;
}
.tables-dropdwon-content>a:hover{
    background-color: rgb(231, 229, 229);
}

/* .team-navbar>div>:last-child{
    width: 100%;
    height: 1px;
    background-color: lightgray;
} */
.tables-dropdwon-content>:last-child{
    transition: transform 200ms ease 200ms, opacity 200ms ease 200ms, background-color 200ms ease;
    border-radius: 0px 0px 5px 5px;
}


.tables>*:not(:nth-child(1)){
    margin-top: 100px;
}

.competition-table {
    border-collapse: collapse;

    width: 100%;
}
.table-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.table-top img{
    width: calc(40px);
}

.league-table {
    font-family: News;

    margin-right: 10vw;
    margin-left: 10vw;
}

.competition-table th {
    text-transform: uppercase;
}

.club:not(.table-header .club, .club-header) {
    text-align: left;
    font-size: 17px;
}

.competition-table tr {
    border-bottom: 1px solid lightgray;
    height: 70px;
}

.competition-table td:not(.club, .club-header) {
    text-align: center;
}

.club,
.club-header {
    text-align: left;
    padding-left: 10px;
}

.competition-table tr :not(.liverpool) {
    color: #546FA1;
}

.liverpool {
    font-weight: 600;
}

.table-header {
    font-size: 11.5px;
    height: 60px !important;
}
.table-header th{
    color: rgb(212, 212, 212) !important;
}

.club,
.club-header {
    text-align: left;
}

.pos,
.pl,
.w,
.d,
.l,
.gf,
.ga,
.gd,
.pts {
    width: 80px;
}

.league-caption {
    background-color: black;
    color: white;
    border-radius: 25px;

    font-family: Header;
    font-size: 14px;

    text-transform: uppercase;
    pointer-events: none;
    user-select: none;

    width: fit-content;
    padding: 8px 15px 8px 15px;
}

.club::before {
    content: "";
    display: inline-block;

    background-size: 100%;
    vertical-align: -50%;

    height: 35px;
    width: 35px;
    margin-right: 10px;
}

#mci::before {
    background-image: url('PL\ Logos/Man-City.png');
}

#ars::before {
    background-image: url('PL\ Logos/Arsenal.png');
}

#mun::before {
    background-image: url('PL\ Logos/Man-Utd.png');
}

#new::before {
    background-image: url('PL\ Logos/Newcastle.png');
}

.liv::before {
    background-image: url('PL\ Logos/Liverpool.png');
}

#bha::before {
    background-image: url('PL\ Logos/Brighton.png');
}

#avl::before {
    background-image: url('PL\ Logos/Aston-Villa.png');
}

#tot::before {
    background-image: url('PL\ Logos/Tottenham.png');
}

#bre::before {
    background-image: url('PL\ Logos/Brentford.png');
}

#ful::before {
    background-image: url('PL\ Logos/Fulham.png');
}

#cry::before {
    background-image: url('PL\ Logos/Crystal-Palace.png');
}

#che::before {
    background-image: url('PL\ Logos/Chelsea.png');
}

#wol::before {
    background-image: url('PL\ Logos/Wolverhampton.png');
}

#whu::before {
    background-image: url('PL\ Logos/West-Ham.png');
}

#bou::before {
    background-image: url('PL\ Logos/Bournemouth.png');
}

#nfo::before {
    background-image: url('PL\ Logos/Nottingham-Forest.png');
}

#eve::before {
    background-image: url('PL\ Logos/Everton.png');
}

#lei::before {
    background-image: url('PL\ Logos/Leicester.png');
}

#lee::before {
    background-image: url('PL\ Logos/Leeds.png');
}

#sou::before {
    background-image: url('PL\ Logos/Southampton.png');
}
#brn::before{
    background-image: url('PL\ Logos/Burnley.svg');
}
#wat::before{
    background-image: url('PL\ Logos/Watford.png');
}
#nor::before{
    background-image: url('PL\ Logos/Norwich.png');
}



#nap::before {
    background-image: url('CL\ Logos/nap.png');
}

#ajx::before {
    background-image: url('CL\ Logos/ajx.png');
}

#ran::before {
    background-image: url('CL\ Logos/ran.png');
}



#where-contact {
    margin-left: 30px;
}

#in-touch {
    font-size: 40px;
}

#please-form,
#twtr {
    font-size: 20px;
}

#please-form,
#in-touch,
#twtr {
    margin: 0px 0px 20px 0px;
}

#main-content-contact {
    font-family: News;

    margin: 70px;
}

#contact-form {
    background-color: #f1f1f1;
    border-radius: 16px;

    padding: 30px;
}

#contact-form label {
    margin-left: 5px;
}

#contact-form input[type=text],
#contact-form select {
    display: inline-block;

    border: 2px solid gray;
    border-radius: 5px;
    box-sizing: border-box;

    padding: 8px 15px 8px 15px;
    width: 100%;
    margin: 8px 0px 8px 0px;
}

input[type=submit] {
    background-color: #DC0714;
    color: white;
    border: 1px solid red;

    font-size: 17px;
    border-radius: 8px;

    transition-duration: 200ms;

    width: 100px;
    height: 40px;
    margin-top: 20px;
}

input[type=submit]:hover {
    background-color: rgb(184, 10, 10);
}

#contact-form textarea {
    font-family: News;
    resize: none;
    box-sizing: border-box;

    border-radius: 5px;
    border: 2px solid gray;

    height: 70px;
    width: 100%;
    padding: 8px 15px 8px 15px;
    margin: 8px 0px 8px 0px;
}



.img {
    position: relative;
    overflow: hidden;

    width: 100%;
    aspect-ratio: 16/9;
}

.img::before {
    position: absolute;
    content: "";
    background-size: 100%;

    transition: all 500ms ease-out;
    transition-delay: 150ms;

    height: 100%;
    width: 100%;
    z-index: -2;
}

.news:hover .img::before {
    transform: scale(107%);
}

#n-7::before {
    background-image: url(Snimki/viber_image_2023-06-10_12-49-10-873.png);
}

#n-6::before {
    background-image: url(Snimki/viber_image_2023-06-10_12-38-29-459.png);
}

#n-5::before {
    background-image: url(Snimki/Fvdb5gwXwAEDTFd.png);
}

#n-4::before {
    background-image: url(Snimki/viber_image_2023-06-04_16-59-37-274.png);
}

#n-3::before {
    background-image: url(Snimki/89f908fe6875a4cede4509876c0814da.jpg);
}

#n-2::before {
    background-image: url(Snimki/GOAL_-_Blank_WEB_-_Facebook.jpg);
}

#n-1::before {
    background-image: url(Snimki/viber_image_2023-06-10_21-03-19-722.png);
}


#footer {
    margin-top: 200px;
}

#main-sponsors {
    background-color: #DC0714;
    align-items: center;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-sponsor {
    padding: 40px;
    list-style-type: none;
    flex-basis: 25%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}


#secondary-sponsors {
    background-color: #B71515;
    padding: 35px 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.secondary-sponsor {
    display: flex;
    justify-content: center;
    padding: 40px;
    flex-basis: 12.5%;
    box-sizing: border-box;
}

#below {
    background-color: #911712;
    font-family: Header;
    text-transform: uppercase;
    padding: 30px 60px 30px 60px;
}

#below a {
    text-decoration: none;
}

#below li {
    list-style-type: none;
}

#settings-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#settings {
    display: flex;
}

#settings li {
    font-size: 12px;
    padding: 10px 15px 10px 0px;
    margin: 0;
}

#settings li a {
    color: white;
    margin: 0;
    transition-duration: 200ms;
}

#settings li a:hover {
    color: lightgrey;
}

#social {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

#social li {
    height: fit-content;
    padding-right: 20px;
}
#social a{
    transition-duration: 200ms;
}
#social a:hover{
    opacity: 0.9;
}




#main-content-results{
    margin-left: calc(10vw - 5px);
    margin-right: calc(10vw - 5px);
    font-family: Header;
}
#main-content-results *:not(div){
    padding: 0;
    margin: 0
}
.result-border-top{
    width: 100%;
    height: 1px;
    background-color: lightgray;
    margin: 20px 0px;
}
.month{
    text-transform: uppercase;
    color: lightgray;
    font-size: 20px;
    font-weight: 600;
    font-family: RobotoCondensed-Regular;
    margin-left: 5px;
}
.month :not(:first-child){
    margin-top: 150px;
}
.result{
    margin: 0px 5px;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    padding-bottom: 30px !important;
}
.top *{
    width:fit-content;
}
.top h3{
    font-size: 17px;
    margin-bottom: 5px !important;
}
.top :nth-child(1)>:nth-child(2){
    font-size: 14px;
    color: #6e6e6e;
    font-weight: 300;
    font-family: RobotoCondensed-Regular;
}
.top img{
    height: calc(17px + 19px + 5px);
}

.center{
    display: flex;
}
.center>.team--logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.center img{
    height: 50px;
    aspect-ratio: 1/1;
}
.center h4{
    font-family: Roboto-Regular-Regular;
    font-weight: 500;
    font-size: 21px;
}
.score-container{
    display: flex;
    margin: 0px 20px;
}
.score{
    background-color: #F6F6F6;
    margin: 0px 1px;
    font-family: News;
    font-weight: 500;
    font-size: 23px;
}
.score>p{
    padding: 15px !important;
}

.highlights{
    display: flex;
    justify-content: right;
    text-transform: uppercase;
    margin: 20px 7px 0px 0px;
}
.highlights *{
    display: inline-block;
    font-size: 14px;
}
.highlights>div>i{
    transform: rotate(90deg);
    transition: transform 200ms ease-out;
}
.highlights>div{
    transition-duration: 200ms;
    cursor: pointer;
}
.highlights>div:hover i{
    transform: translateX(5px) rotate(90deg);
}
.highlights>div:hover{
    color: lightgray;
}