@font-face {
    font-family: Header;
    src: url(Fonts/RobotoCondensed-Bold.ttf);
}

@font-face {
    font-family: News;
    src: url(Fonts/Roboto-Regular.ttf);
}

body {
    margin: 0;
}

#red-top {
    position: absolute;
    background-color: #B71515;
    width: 100%;
    height: 75px;
    top: 0;
    z-index: 49;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0;
    background-color: #DC0714;

    margin: 45px 57px 0px 57px;
    height: 58px;
    z-index: 50;
}

#navbar-left {
    margin: 0;
}

#navbar-right {
    display: flex;
    align-items: center;
    justify-content: right;

    margin: 0px 15px 0px 0px;
    height: 100%;
}

#lfcbadge-ul {
    display: flex;
    justify-content: left;
}

#navbar-right>li {
    display: inline-block;
    list-style-type: none;

    font-family: Header;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;

    margin: 0px 20px 0px 0px;
    height: 100%;
}

#navbar-right>li>a {
    display: flex;
    align-items: center;

    color: white;
    text-decoration: none;

    transition-duration: 200ms;

    height: 100%;
}

#navbar-right>li>a:hover {
    text-decoration: none;
    color: lightgrey;
}

#navbar-right>li>a:active {
    text-decoration: none;
}

#navbar-right>li>a:visited {
    text-decoration: none;
}

#lfcbadge {
    list-style-type: none;
    margin-top: 2px;
}

#lfc-logo {
    height: 35px;
}

#fixtures-dropdown-content {
    position: absolute;
    pointer-events: none;

    /* opacity: 0; */
    /* transform: translateY(-10px);
    transition: transform 200ms ease-out 100ms, opacity 200ms ease-out 100ms; */

    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    border-radius: 0px 0px 7px 7px;

    margin-left: -30px;
    transform: translateX(-11.3675px);

}

#fixtures-dropdown-content a {
    display: block;
    text-decoration: none;
    text-align: center;
    position: relative;

    background-color: #DC0714;
    color: white;

    color: transparent;
    transition: background-color 2000ms ease 0ms;
    height: 0px;
    padding: 0px 30px 0px 30px;
}

#fixtures-dropdown:hover #fixtures-dropdown-content>a {
    height: 17px;
    padding: 10px 30px 10px 30px;
    color: white;
    color: white;
}

#fixtures-dropdown-content :nth-child(1) {
    transition:
        height 300ms ease 100ms,
        padding 300ms ease 100ms,
        background-color 300ms ease 0ms,
        color 300ms ease 100ms;
}

#fixtures-dropdown-content :nth-child(2) {
    transition:
        height 300ms ease 150ms,
        padding 300ms ease 150ms,
        background-color 300ms ease 0ms,
        color 300ms ease 150ms;
}

#fixtures-dropdown-content :nth-child(3) {
    border-radius: 0px 0px 7px 7px;
    transition:
        height 300ms ease 200ms,
        padding 300ms ease 200ms,
        background-color 300ms ease 0ms,
        color 300ms ease 200ms;
}

#fixtures-dropdown-content a:hover {
    background-color: #c90814;
}

#fixtures-dropdown:hover #fixtures-dropdown-content {
    pointer-events: all;
}
#fixtures-dropdown>a:hover{
    cursor: pointer;
}




#main-content-news {
    margin: 55px 42px 0px 42px;
}

#main-content {
    margin: 55px 57px 0px 57px;
}


/* .news-tag-parent{
    background-color: black;
    margin: 14px 15px 14px 30px;
    padding: 5px 15px 5px 15px;
    width: fit-content;
    border-radius: 20px;
}
.news-tag{
    font-family: Header;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
} */
.news-parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.news {
    cursor: pointer;
    z-index: 3;
    padding: 15px;
}

#news-top-border {
    grid-column-start: 1;
    grid-column-end: 4;

    background-color: lightgray;

    height: 1px;
    margin: 0px 15px 0px 15px;
}

.news-bottom-border {
    background-color: lightgray;

    height: 1px;
    margin-left: 15px;
    margin-right: 15px;
}

#main-content-news .news:hover {
    background-color: rgb(241, 238, 238);
}

#main-content-news .news:hover p {
    pointer-events: none;
    user-select: none;

    transform: translateY(-10px);
}

.news p {
    transition-duration: 500ms;
}

#main-content-news .news {
    vertical-align: top;

    transition-duration: 500ms;
}

.big-left {
    grid-column-start: 1;
    grid-column-end: 3;
}

.big-right {
    grid-column-start: 2;
    grid-column-end: 4;
}

.news-header {
    font-family: News;
    font-weight: 500;
    font-size: 17px;

    margin: 0;
}

.when {
    text-transform: uppercase;

    font-size: 12px;
    font-family: Header;
    font-weight: 100;

    color: rgb(184, 184, 184);

    margin-top: 25px;
}




.competition-table {
    border-collapse: collapse;

    width: 100%;
}

#premier-league-table,
#champions-league-table {
    font-family: News;

    margin-right: 240px;
    margin-left: 240px;
}

#champions-league-table {
    margin-top: 100px;
}

.competition-table th {
    text-transform: uppercase;
}

.club:not(.table-header .club, .club-header) {
    text-align: left;
    font-size: 17px;
}

.competition-table tr {
    border-bottom: 1px solid lightgray;
    height: 70px;
}

.competition-table td:not(.club, .club-header) {
    text-align: center;
}

.club,
.club-header {
    text-align: left;
    padding-left: 10px;
}

.competition-table tr :not(.liverpool) {
    color: #546FA1;
}

.liverpool {
    font-weight: 600;
}

.table-header {
    font-size: 11.5px;
    color: #D6E3F1;
}

.club,
.club-header {
    text-align: left;
}

.pos,
.pl,
.w,
.d,
.l,
.gf,
.ga,
.gd,
.pts {
    width: 80px;
}

#pl,
#cl {
    background-color: black;
    color: white;
    border-radius: 25px;

    font-family: Header;
    font-size: 14px;

    text-transform: uppercase;
    pointer-events: none;
    user-select: none;

    width: fit-content;
    padding: 8px 15px 8px 15px;
}

.club::before {
    content: "";
    display: inline-block;

    background-size: 100%;
    vertical-align: -50%;

    height: 35px;
    width: 35px;
    margin-right: 10px;
}

#mci::before {
    background-image: url('PL\ Logos/t43.png');
}

#ars::before {
    background-image: url('PL\ Logos/t3.png');
}

#mun::before {
    background-image: url('PL\ Logos/t1.png');
}

#new::before {
    background-image: url('PL\ Logos/t4.png');
}

.liv::before {
    background-image: url('PL\ Logos/t14.png');
}

#bha::before {
    background-image: url('PL\ Logos/t36.png');
}

#avl::before {
    background-image: url('PL\ Logos/t7.png');
}

#tot::before {
    background-image: url('PL\ Logos/t6.png');
}

#bre::before {
    background-image: url('PL\ Logos/t94.png');
}

#ful::before {
    background-image: url('PL\ Logos/t54.png');
}

#cry::before {
    background-image: url('PL\ Logos/t31.png');
}

#che::before {
    background-image: url('PL\ Logos/t8.png');
}

#wol::before {
    background-image: url('PL\ Logos/t39.png');
}

#whu::before {
    background-image: url('PL\ Logos/t21.png');
}

#bou::before {
    background-image: url('PL\ Logos/t91.png');
}

#nfo::before {
    background-image: url('PL\ Logos/t17.png');
}

#eve::before {
    background-image: url('PL\ Logos/t11.png');
}

#lei::before {
    background-image: url('PL\ Logos/t13.png');
}

#lee::before {
    background-image: url('PL\ Logos/t2.png');
}

#sou::before {
    background-image: url('PL\ Logos/t20.png');
}

#nap::before {
    background-image: url('CL\ Logos/nap.png');
}

#ajx::before {
    background-image: url('CL\ Logos/ajx.png');
}

#ran::before {
    background-image: url('CL\ Logos/ran.png');
}



#where-contact {
    margin-left: 30px;
}

#in-touch {
    font-size: 40px;
}

#please-form,
#twtr {
    font-size: 20px;
}

#please-form,
#in-touch,
#twtr {
    margin: 0px 0px 20px 0px;
}

#main-content-contact {
    font-family: News;

    margin: 70px;
}

#contact-form {
    background-color: #f1f1f1;
    border-radius: 16px;

    padding: 30px;
}

#contact-form label {
    margin-left: 5px;
}

#contact-form input[type=text],
#contact-form select {
    display: inline-block;

    border: 2px solid gray;
    border-radius: 5px;
    box-sizing: border-box;

    padding: 8px 15px 8px 15px;
    width: 100%;
    margin: 8px 0px 8px 0px;
}

input[type=submit] {
    background-color: #DC0714;
    color: white;
    border: 1px solid red;

    font-size: 17px;
    border-radius: 8px;

    transition-duration: 200ms;

    width: 100px;
    height: 40px;
    margin-top: 20px;
}

input[type=submit]:hover {
    background-color: rgb(184, 10, 10);
}

#contact-form textarea {
    font-family: News;
    resize: none;
    box-sizing: border-box;

    border-radius: 5px;
    border: 2px solid gray;

    height: 70px;
    width: 100%;
    padding: 8px 15px 8px 15px;
    margin: 8px 0px 8px 0px;
}



.img {
    position: relative;
    overflow: hidden;

    width: 100%;
    aspect-ratio: 16/9;
}

.img::before {
    position: absolute;
    content: "";
    background-size: 100%;

    transition: all 500ms ease-out;
    transition-delay: 150ms;

    height: 100%;
    width: 100%;
    z-index: -2;
}

.news:hover .img::before {
    transform: scale(107%);
}

#n-7::before {
    background-image: url(Snimki/viber_image_2023-06-10_12-49-10-873.png);
}

#n-6::before {
    background-image: url(Snimki/viber_image_2023-06-10_12-38-29-459.png);
}

#n-5::before {
    background-image: url(Snimki/Fvdb5gwXwAEDTFd.png);
}

#n-4::before {
    background-image: url(Snimki/viber_image_2023-06-04_16-59-37-274.png);
}

#n-3::before {
    background-image: url(Snimki/89f908fe6875a4cede4509876c0814da.jpg);
}

#n-2::before {
    background-image: url(Snimki/GOAL_-_Blank_WEB_-_Facebook.jpg);
}

#n-1::before {
    background-image: url(Snimki/viber_image_2023-06-10_21-03-19-722.png);
}


#footer {
    margin-top: 200px;
}

#main-sponsors {
    background-color: #DC0714;
    align-items: center;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-sponsor {
    padding: 40px;
    list-style-type: none;
    flex-basis: 25%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}


#secondary-sponsors {
    background-color: #B71515;
    padding: 35px 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.secondary-sponsor {
    display: flex;
    justify-content: center;
    padding: 40px;
    flex-basis: 12.5%;
    box-sizing: border-box;
}

#below {
    background-color: #911712;
    font-family: Header;
    text-transform: uppercase;
    padding: 30px 60px 30px 60px;
}

#below a {
    text-decoration: none;
}

#below li {
    list-style-type: none;
}

#settings-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#settings {
    display: flex;
}

#settings li {
    font-size: 12px;
    padding: 10px 15px 10px 0px;
    margin: 0;
}

#settings li a {
    color: white;
    margin: 0;
    transition-duration: 200ms;
}

#settings li a:hover {
    color: lightgrey;
}

#social {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

#social li {
    height: fit-content;
    padding-right: 20px;
}